* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.background {
    height: 100vh;
    width: 100%;
    background-image: url('18952573_6075275.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 3%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
}

span {
    color: #ea1538;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ea1538;
    transition: .3s;
}

button {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.3);
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-svg-container,
.right-svg-container {
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-svg-container {
    margin-right: 100px; /* Space between the left SVG and the profile image */
}

.right-svg-container {
    margin-left: 100px; /* Space between the right SVG and the profile image */
}

.profile-image-container {
    position: relative;
    margin: 0 10px; /* Space between the SVG containers and the profile image */
}

.profile-image img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.around-svg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px; /* Increased width */
    height: 600px; /* Increased height */
    pointer-events: none; /* Ensures SVGs don't block interactions with the image */
    z-index: -1; /* Ensures SVG is behind the image */
}

.around-svg {
    width: 100%;
    height: 100%;
}
